name: build

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-2022
            arch: x64
            base_name: windows-x86_64
          - os: macos-15
            arch: arm64
            base_name: macos-arm64

    runs-on: ${{ matrix.os }}

    env:
      gst_version: "1.26"
      default_meson_args: >
        -Dbase=enabled
        -Dgood=enabled
        -Dbad=enabled
        -Dgst-plugins-bad:srt=enabled
        -Dlibav=enabled

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Install build tools
        run: pipx install meson ninja

      - name: Setup compiler (Windows)
        if: matrix.os == 'windows-2022'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Install SRT (Windows)
        if: matrix.os == 'windows-2022'
        run: vcpkg install libsrt --vcpkg-root=C:\vcpkg

      - name: Install SRT (macOS)
        if: matrix.os == 'macos-15'
        run: brew install srt

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.8.3
          cache: true
          dir: ${{ github.workspace }}

      - name: Cache
        uses: actions/cache@v4
        with:
          path: gstreamer
          key: ${{ matrix.base_name }}-${{ hashFiles('**/gstreamer') }}
          restore-keys: ${{ matrix.base_name }}

      - name: Clone
        if: steps.cache-gstreamer.outputs.cache-hit != 'true'
        run: |
          if [ ! -d gstreamer ]; then
            git clone -b $gst_version --single-branch https://gitlab.freedesktop.org/gstreamer/gstreamer.git
          fi

      - name: Configure meson (Windows)
        working-directory: gstreamer
        if: matrix.os == 'windows-2022'
        env:
          PKG_CONFIG_PATH: ${{ env.VCPKG_INSTALLATION_ROOT }}\installed\x64-windows\lib\pkgconfig;${{ env.PKG_CONFIG_PATH }}
        run: |
          meson setup builddir --prefix=${{ runner.temp }}/gstreamer \
            ${{ env.default_meson_args }} \
            -Dgst-plugins-bad:qsv=enabled \
            -Dgst-plugins-bad:d3d11=enabled \
            -Dgst-plugins-bad:qt6d3d11=enabled \
            -Dlibxml2:python=false

      - name: Configure meson (macOS)
        working-directory: gstreamer
        if: matrix.os == 'macos-15'
        run: |
          meson setup builddir \
            --prefix=${{ runner.temp }}/gstreamer \
            ${{ env.default_meson_args }} \
            -Dgst-plugins-good:gl=enabled \
            -Dgst-plugins-good:qt6=enabled

      - name: Build
        working-directory: gstreamer
        run: ninja -C builddir

      - name: Install
        working-directory: gstreamer
        run: meson install -C builddir

      - name: Zip
        run: 7z a ${{ matrix.base_name }}.zip ${{ runner.temp }}/gstreamer

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.base_name }}
          path: ${{ matrix.base_name }}.zip
