name: build

on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: macos-15
            arch: arm64
            base_name: macos-arm64

    runs-on: ${{ matrix.os }}

    env:
      gst_version: 1.26

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: 3.13

      - name: Install build tools
        run: pipx install meson ninja

      - name: Install SRT
        run: brew install srt

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.8.*
          cache: true
          dir: ${{ github.workspace }}
          modules: 'qtshadertools'

      - name: Cache gstreamer
        uses: actions/cache@v4
        id: cache-gstreamer
        with:
          path: gstreamer
          key: ${{ matrix.base_name }}-gstreamer-${{ env.gst_version }}
          restore-keys: ${{ matrix.base_name }}-gstreamer-

      - name: Clone
        if: steps.cache-gstreamer.outputs.cache-hit != 'true'
        shell: bash
        run: |
          if [ ! -d gstreamer ]; then
            git clone -b ${{ env.gst_version }} --single-branch https://gitlab.freedesktop.org/gstreamer/gstreamer.git
          else
            cd gstreamer
            git fetch origin ${{ env.gst_version }}
            git checkout ${{ env.gst_version }}
            git pull
            cd ..
          fi

      - name: Configure meson (macOS)
        working-directory: gstreamer
        if: matrix.os == 'macos-15'
        env:
          meson_args: >
            --prefix=${{ runner.temp }}/gstreamer
            -Dbase=enabled
            -Dgst-plugins-base:gl=enabled
            -Dgood=enabled
            -Dgst-plugins-good:qt6=enabled
            -Dbad=enabled
            -Dgst-plugins-bad:applemedia=enabled
            -Dlibav=enabled
        run: |
          if [ ! -d builddir ]; then
            meson setup builddir ${{ env.meson_args }}
          else
            meson setup --reconfigure builddir ${{ env.meson_args }}
          fi

      - name: Build
        working-directory: gstreamer
        run: ninja -C builddir

      - name: Install
        working-directory: gstreamer
        run: meson install -C builddir

      - name: Zip
        run: 7z a ${{ matrix.base_name }}.zip ${{ runner.temp }}/gstreamer

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.base_name }}
          path: ${{ matrix.base_name }}.zip
