name: upload

on:
  workflow_dispatch:

jobs:
  build-windows:
    uses: ./.github/workflows/windows.yml

  build-macos:
    uses: ./.github/workflows/macos.yml

  upload:
    needs: [build-windows, build-macos]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Download all artifacts
        uses: actions/download-artifact@v5
        with:
          path: dist
          merge-multiple: true

      - name: Upload to spaces
        uses: BetaHuhn/do-spaces-action@v2
        with:
          access_key: ${{ secrets.ACCESS_KEY }}
          secret_key: ${{ secrets.SECRET_KEY }}
          space_name: ${{ secrets.SPACE_NAME }}
          space_region: ${{ secrets.SPACE_REGION }}
          source: dist
          out_dir: gstreamer/